/*ESTILOS ESCENA  1-2, 3-1 y 4-1 YENNY Y LUZ 1*/
@keyframes opacidad{
    from{opacity: 0;}
    to{opacity: 1;}
}

#pag-1-2,#pag-1-1{
        background-color:#C3FFF7 ; 
}
#pag-2-1{
    background-color: #FFC96C ;
}
#pag-3-1, #pag-4-1{
    background-color:#252555;
}

 /*1-2*/

#cap-1-2{
    position: absolute;
    z-index: 2;
    width: 120px;
    height: 200px;
    bottom: 0;
    left: 0;
    background-size: cover;
}
@keyframes caminata{
    0%{
        transform: translateX(0);
        background-image: url("img/caminata1.png");
    }
    25%{
        transform: translateX(100px) translateY(-20px);
        background-image: url("img/caminata3.png");
    }
    50%{
        transform: translateX(200px);
        background-image: url("img/caminata1.png");
    }
    75%{
        transform: translateX(300px) translateY(-20px);
        background-image: url("img/caminata3.png");
    }
    100%{
        transform: translateX(400px);
        background-image: url("img/caperucita2.png");
    }
}
#pag-1-2:target .cap-1-2{
    animation: caminata 7s linear 4s 1 normal forwards;
}


#pag-1-2:target img[alt="arb1"]{
    width: 250px;
    height: 300px;
    position: absolute;
    top:80px;
    left:870px;
    opacity: 0;
    animation: opacidad 1s linear 1s 1 normal forwards;
}

#pag-1-2:target img[alt="arb2"]{
     width: 250px;
    height: 300px;
    position: absolute;
    top:30px;
    left:800px;
    opacity: 0;
    animation: opacidad 1s linear 1s 1 normal forwards;
}

#pag-1-2:target img[alt="camino"]{
    width: 400px;
    height:200px;
    position: absolute;
    top: 250px;
    left:600px; 
    opacity: 0;
    animation: opacidad 1s linear 1s 1 normal forwards;
}

#pag-1-2:target img[alt="casa-cap"]{
     width: 350px;
    height: 350px;
    position: absolute;
    top:90px;
    left:150px;
    opacity: 0;
    animation: opacidad 1s linear 1s 1 normal forwards;
}

#pag-1-2:target img[alt="cam1"]{
    height: 230px;
    position: absolute;
    top:350px;
    left:150px; 
    opacity: 0;
    animation: opacidad 1s linear 1s 1 normal forwards;
}

#pag-1-2:target img[alt="flor"]{
    position: absolute;
    top: 420px;
    left: 850px;
    width: 300px;
    opacity: 0;
    animation: opacidad 1s linear 1s 1 normal forwards;
}

#pag-1-2:target img[alt="cartel"]{
    position: absolute;
    height: 160px;
    top: 420px;
    left: 650px;
    opacity: 0;
    animation: opacidad 1s linear 1s 1 normal forwards;
}

#pag-1-2:target img[alt="camino"]:hover,img[alt="flor"]:hover{
    transform: scale(1.2);
    transition: 1.5s;
}
/*CAMINO 2-1 YENNY Y LUZ*/


#pag-2-1:target #casa-2-1{
    position: absolute;
    left: 350px;
    bottom: 150px;
    width: 700px;
    height: 350px;
    opacity: 0;
    animation: opacidad 1s linear 1s 1 normal forwards;
}
#pag-2-1:target #puerta-2-1{
    position: absolute;
    right: 593px;
    bottom: 202px;
    width: 50px;
    height: 95px;
    opacity: 0;
    transform: rotateY(-30deg);
    transform-origin: left;
    animation: opacidad 1s linear 1s 1 normal forwards;
    z-index: 2;
}
#puerta-2-1:hover{
    transform: rotateY(-50deg);
    transform-origin: left;
}

#pag-2-1:target #camino-2-1{
    position: absolute;
    left: 50px;
    top: 330px;
    bottom: 0;
    width: 600px;
    height: 200px;
    opacity: 0;
    animation: opacidad 1s linear 1s 1 normal forwards;
    z-index: 1;
}
/* CAMINO 3-1*/

#pag-3-1:target .uno{
    opacity: 0;
    animation: opacidad 1s linear 8s 1 normal forwards;
}
#pag-3-1:target .dos{
    opacity: 0;
    animation: opacidad 1s linear 10s 1 normal forwards;
}
#pag-3-1:target .tres{
    opacity: 0;
    animation: opacidad 1s linear 12s 1 normal forwards;
}
#pag-3-1:target .cuatro{
    opacity: 0;
    animation: opacidad 1s linear 14s 1 normal forwards;
}
#pag-3-1:target .cinco{
    opacity: 0;
    animation: opacidad 1s linear 16s 1 normal forwards;
}
#pag-3-1:target .seis{
    opacity: 0;
    animation: opacidad 1s linear 18s 1 normal forwards; 
}
#pag-3-1:target .siete{
    opacity: 0;
    animation: opacidad 1s linear 20s 1 normal forwards; 
}
#pag-3-1:target .ocho{
    opacity: 0;
    animation: opacidad 1s linear 22s 1 normal forwards; 
}
#pag-3-1:target img[alt="orejaslobo"]{
    position: absolute;
    z-index: 2; 
    width: 69px;
    height: 42px;
    top: 270px;
    left:685px;
    opacity: 0;
    transform: scale(1.2);
    animation: opacidad 1s linear 12s 1 normal ;
    animation-iteration-count: 2;
}

#pag-3-1:target img[alt="ojoslobo"]{
    position: absolute;
    z-index: 2;  
    width: 50px;
    height: 40px;
    top: 292px;
    left:706px;
    opacity: 0;
    animation: opacidad 1s linear 8s 1 normal forwards;  
}


#pag-3-1:target .ojos-grandes{
    position: absolute;
    z-index: 2;  
    width: 50px;
    height: 40px;
    top: 292px;
    left:706px;
    opacity: 0;
    transform: scale(1.5);
    animation: opacidad 1s linear 16s 2 normal ;  
    animation-iteration-count: 2;
}

#cap-3-1{
    position: absolute;
    z-index: 2;
    width: 100px;
    height: 160px;
    top: 320px;
    left: 400px;
    background-size: cover;
}
#pag-3-1:target img[alt="placar"]{
    height: 150px;
    width: 100px;
    position: absolute;
    top: 270px;
    left: 430px;
    opacity: 0;
    animation: opacidad 1s linear 1s 1 normal forwards;  

}

#pag-4-1:target img[alt="placar"]{
    height: 150px;
    width: 100px;
    position: absolute;
    top: 270px;
    left: 430px;
    opacity: 0;
    animation: opacidad 1s linear 1s 1 normal forwards;  

}

/*CAPERUCITA CAMINA TIPICA ESCENA*/
@keyframes caminaCaperucita{
     0%{
        transform: translateX(0);
        background-image: url("img/caminata1.png");
    }
    12.5%{
        transform: translateX(50px);
        background-image: url("img/caminata3.png");   
    }
    25%{
        transform: translate(100px);
        background-image: url("img/caminata1.png");
        
    }
    37.5%{
        transform: translateX(150px);
        background-image: url("img/caminata3.png");  

    }
    50%{
        transform: translateX(200px);
        background-image: url("img/caperucita-sorprendida.png");
    }
    60%{
        transform: translateX(200px);

        background-image: url("img/caperucita-sorprendida.png");
    }

    70%{
        transform: translateX(200px);

        background-image: url("img/caperucita-asustada.png");
    }
    80%{
        transform: translate(150px);
        background-image: url("img/caminataotrolado.png");
    }

    90%{
        transform: translate(50px);
        background-image: url("img/caminataotrolado2.png");
    }
    98%{
        transform: translate(0px);
        background-image: url("img/caminataotrolado.png");
    }

    100%{
        background-image: url("img/caperucita-asustada.png");
    }
}
#pag-3-1:target .cap-3-1{animation: caminaCaperucita 25s linear 3s 1 normal forwards;}
#pag-4-2:target .cap-3-1{animation: opacidad 1s, caminaCaperucita 6s linear 3s 1 normal forwards;}

#pag-3-1:target #loboAbu{
    position: absolute;
    z-index: 2; 
    width: 250px;
    height: 220px;
    top: 270px;
    left:650px;
    background-size: cover;
    opacity: 0;
    animation: opacidad 1s linear 3s 1 normal forwards, cama 40s;
}
#pag-3-1:target #cama31{
    position: absolute;
    z-index: 2; 
    width: 250px;
    height: 220px;
    top: 270px;
    left:650px;
    background-image: url("img/camaabuela.png");
    background-size: cover;
    opacity: 0;
    z-index: 3;
    animation: opacidad 1s linear 22s 1 normal forwards
}

@keyframes cama{
    0%{
        background-image:url("img/loboDormido.png"); 
    }
    50%{
        background-image:url("img/loboDormido.png"); 

    }

    100%{
    background-image: url("img/camaabuela.png");
    }
}

img[alt="nube1"]{
    position: absolute;
    top: 0px;
    left:-0px;
    width: 300px;  
}

img[alt="luna"]{
    position: absolute;
    top: 20px;
    left:100px;
    width: 100px;
    height: 100px;

}
#pag-3-1:target img[alt="arbusto2"]{
    position: absolute;
    top: 490px;
    left: 0px;
    width: 1170px;
    height: 100px;
    z-index: 2;
    opacity: 0;
    animation: opacidad 1s linear 1s 1 normal forwards;
}
#pag-3-1:target img[alt="cabaña1"]{
    position: absolute;
    width: 900px;
    height:450px;
    top: 100px;
    left: 140px;
    opacity: 0;
    animation: opacidad 1s linear 1s 1 normal forwards;
}
#lob_3_1{
    position: absolute;
    z-index: 2;
    width: 200px;
    height: 300px;
    top:180px;
    left: 500;
    background-size: cover;
}
@keyframes loboAtaca{
    0%{
        transform: translateX(520px);
        background-image: url("img/lobo2.png");
    }
    25%{
        transform: translateX(510px);
        background-image: url("img/loboB.png");
    }
    50%{
        transform: translateX(500px);
        background-image: url("img/loboA.png");
    }
    75%{
        transform: translateX(490px) ;
        background-image: url("img/loboB.png");
    }
    90%{
        background-image: url("img/loboA.png");
    }
    100%{
        transform: translateX(480px);
        background-image: url("img/loboA.png");
    }
}
#pag-3-1:target .lob-3-1{
    animation: loboAtaca 5s linear 23s 1 normal forwards;
}

/*ESTILOS 4-1 YENNY Y LUZ*/
#pag-4-1{background-color:#252555;}
#pag-4-1:target #one{
    opacity: 0;
    animation: opacidad 1s linear 8s 1 normal forwards;
}
#pag-4-1:target #two{
    opacity: 0;
    animation: opacidad 1s linear 10s 1 normal forwards;
}
#pag-4-1:target #casa-4-1{
    position: absolute;
    left: 350px;
    bottom: 150px;
    width: 700px;
    height: 350px;
    opacity: 0;
    animation: opacidad 1s linear 1s 1 normal forwards;
}
#pag-4-1:target #puerta-4-1{
    position: absolute;
    right: 593px;
    bottom: 202px;
    width: 50px;
    height: 95px;
    opacity: 0;
    transform: rotateY(-30deg);
    transform-origin: left;
    animation: opacidad 1s linear 1s 1 normal forwards;
    z-index: 2;
}
#puerta-4-1:hover{
    transform: rotateY(-50deg);
    transform-origin: left;
}

#pag-4-1:target #camino-4-1{
    position: absolute;
    left: 50px;
    top: 330px;
    bottom: 0;
    width: 600px;
    height: 200px;
    opacity: 0;
    animation: opacidad 1s linear 1s 1 normal forwards;
    z-index: 1;
}
#grito-4-1{
    position: absolute;
    width: 100px;
    height: 60px;
    top: 190px;
    left:500px;
    background-size: contain;
    z-index: 1;
}
@keyframes gritofinal{
    0%{
        transform: scaleX(1.5);
        background-image: url("img/grito1.png");
    }
    25%{
        transform: scaleX(2.2) rotate(30deg);
        background-image: url("img/grito1.png");
    }
    50%{
        transform: scaleX(3);
        background-image: url("img/grito1.png");
    }
    75%{
        transform: scaleX(2.2) rotate(-15deg);
        background-image: url("img/grito1.png");
    }
    100%{
        transform: scaleX(1.5);
        background-image: url("img/grito1.png");
        opacity: 0;
    }
}
#pag-4-1:target .grito-4{
    animation: gritofinal 3s linear 4s infinite  forwards ;
    transform-origin: right;

}

