/* ESTILOS GENERALES */
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;

}
main{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    grid-template-rows:repeat(5,1fr);
}
/* article un componente de la grilla general */
article{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    height: 100vh;
    perspective: 1000px;
/*<<<<<<< HEAD*/
/*<<<<<<< HEAD*/
    background-image: url(img/fondo.jpg);
/*=======*/
    background-color: #D0F9F2 ;
/*=======*/
    background-color:#C3FFF7 ;
/*>>>>>>> 3ae112ebc4079fcddc1030183d7f1ea23b4cdb6b*/
    background-image: url("img/fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
/*ESTILO DE LOS PARRAFOS*/
p{
    font-size: 35px; 
    list-style: none;
}
span{
    font-size: 45px ; 
    color: #D01A0B ;
}
ul{
    font-size: 28px;
     list-style: none;
}
li>span{
    font-size: 30px ; color: #D01A0B ;
}
/* estilos de la portada */


.cont{
    width: 430px;
    height:640px;
    position:absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; 
    background-color: saddlebrown;
    border-radius: 0 20px 20px 0;
    perspective: 2000px;
    box-shadow: 3px 4px 7px black;
 }
 .libro {
    width: 440px;
    height:640px;
    position:absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; 
    border-radius: 0px 20px 20px 0;
    background-color: saddlebrown;
    transform: rotateY(0);
    transform-style: preserve-3d;
    transform-origin: left;
    transition: all 2s  ease-in;
    border-left: 20px solid #362401 ;
    box-shadow: 3px 4px 7px black;
 }
 .deco{
    border:1px solid yellow;
    border-radius: 0 17px 17px 0;
    height: 600px;
    width: 400px;
    margin: 20px;
    color:#EB1200;
    font-size: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Dancing Script', cursive;
 }

 figure{
    margin: 0;
    display: block;
    position: absolute;
    width: 100% ;
    height: 100% ;
    backface-visibility: hidden;
 }
 .cont:hover .libro{
    transform: rotateY(-180deg);
 }
 .pagina{
    background-color:#FFEFCE ;
    border-radius: 17px;
    height: 600px;
    width: 390px;
    margin: 20px; 
    border-radius: 0 20px 20px 0;
    box-shadow: 3px 4px 5px black;
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
 }
.pagina>p, .pagina>img{
    text-align: justify;
    margin: 20px;
}
  .pagina>a{
    display: block;
    background-color:#EB1200;
    margin:13px;
    text-align: center;
    border-radius: 5px;
    font-size: 20px;
    padding: 4px; 
    font-family: 'Dancing Script', cursive;
     color: white; 
    text-decoration: none;
}
.pagina>a:hover{
    background-color: yellow;
    color: black;
}
section>a{
    background-color: #EB1200;
    margin: 20px;
    border-radius: 10px;
    color: white;
    padding: 10px;
    text-decoration: none;
    position: absolute;
    top: 0;
}


/* titulo del libro - en la perte superior de la pag*/
.tit-libro{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 1100px;
    height: 35vh;
    border-radius: 10px;
    border: 2px solid blue;
    z-index: 3;
    font-family: 'Dancing Script', cursive;
    font-weight: bold; 
    background-color: rgba(226, 225, 224, 0.3);
    padding: 0 2em;

}

/* tamaño del libro en la grilla - al final borrar el border*/
.tam-libro{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 900px;
    height: 300px;
    /* border: 2px solid black; */
    /* border-radius: 10px; */
}

/* ESTILOS DE LA PORTADA DEL LIBRO */
.cuadrado-port{
    width: 50%;
    height: 500px;
    background-image: linear-gradient(#1dc434f6 ,#aeca5f);
    background-color: rgb(252, 219, 176);
    border: 1px solid rgb(148, 33, 5);
    border-radius: 20px ;
}

/* ESTILOS DE inclinacion DEL LIBRO */
.cuadrado-cont{
    position: absolute;
    width: 900px;
    height: 600px;
    background-color: rgba(222, 184, 135);
    border: 3px solid rgba(138, 78, 0, 0.5);
    border-radius: 20px;
    box-shadow: 10px 30px rgba(0, 0, 0, 0.295);
}
.cuadrado-cont1{
    transform: rotateX(60deg) translateZ(0px);

}
.cuadrado-cont2{
    transform: rotateX(60deg) translateZ(-20px);
}
.cuadrado-cont3{
    transform: rotateX(60deg) translateZ(-40px);
    border: 15px solid rgb(148, 33, 5);
}
.inclinacion{
    transition: all 5s;
}

/* estilo del cuadrado q cambia de pagina */
.cuadrado{
    width: 50%;
    height: 600px;
    background-image: linear-gradient(#1dc434f6 ,#aeca5f);
    border: 1px solid blue;
    transform: rotatex(60deg);
    border-radius: 20px;
}

/* estilo cambiar pagina */
@keyframes cuadrado1{
    from{
        transform: rotatex(60deg);
    }
    to{
        transform: rotatex(60deg) rotateY(-180deg);
    }
}
.cuadrado1{
    animation-name: cuadrado1;
    animation-duration: 5s;
    animation-timing-function: ease;
    transform-origin: left;
}  

/* estilo boton pag siguiente y anterior*/
.nav{
    position: absolute;
    top: 1em;
    width: 100vw;
    display: flex;
    justify-content: space-between;
}
.nav>a{
    width: 10em;
    height: 2em;
    margin: 0 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    background-color:#50940e;border:1px solid #3f7807;
    color: white;
    text-transform: uppercase;
    font-family:Helvetica Neue, Arial, Helvetica, Verdana, sans-serif;
	border-radius: 5px;
    box-shadow:0 1px 3px rgba(0,0,0,0.25);
    text-shadow:0 -3px 3px rgba(0,0,0,0.25)
}

/* estilo de imagenes */
/* todas la imagenes ubicadas con posicion absoluto, es mas facil */
.imagenes{
    position: absolute;
    width: 1200px;
    height: 80vh;
    border: 2px solid yellow;
}
