/* ESTILOS GENERALES */
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;

}
main{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    grid-template-rows:repeat(5,1fr);
}
/* article un componente de la grilla general */
article{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    height: 100vh;
    perspective: 1000px;
/*<<<<<<< HEAD*/
/*<<<<<<< HEAD*/
    background-image: url(img/fondo.jpg);
/*=======*/
    background-color: #D0F9F2 ;
/*=======*/
    background-color:#C3FFF7 ;
/*>>>>>>> 3ae112ebc4079fcddc1030183d7f1ea23b4cdb6b*/
    background-image: url("img/fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
/*ESTILO DE LOS PARRAFOS*/
p{
    font-size: 35px; 
    list-style: none;
}
span{
    font-size: 45px ; 
    color: #D01A0B ;
}
ul{
    font-size: 28px;
     list-style: none;
}
li>span{
    font-size: 30px ; color: #D01A0B ;
}
/* estilos de la portada */


.cont{
    width: 430px;
    height:640px;
    position:absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; 
    background-color: saddlebrown;
    border-radius: 0 20px 20px 0;
    perspective: 2000px;
    box-shadow: 3px 4px 7px black;
 }
 .libro {
    width: 440px;
    height:640px;
    position:absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; 
    border-radius: 0px 20px 20px 0;
    background-color: saddlebrown;
    transform: rotateY(0);
    transform-style: preserve-3d;
    transform-origin: left;
    transition: all 2s  ease-in;
    border-left: 20px solid #362401 ;
    box-shadow: 3px 4px 7px black;
 }
 .deco{
    border:1px solid yellow;
    border-radius: 0 17px 17px 0;
    height: 600px;
    width: 400px;
    margin: 20px;
    color:#EB1200;
    font-size: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Dancing Script', cursive;
 }

 figure{
    margin: 0;
    display: block;
    position: absolute;
    width: 100% ;
    height: 100% ;
    backface-visibility: hidden;
 }
 .cont:hover .libro{
    transform: rotateY(-180deg);
 }
 .pagina{
    background-color:#FFEFCE ;
    border-radius: 17px;
    height: 600px;
    width: 390px;
    margin: 20px; 
    border-radius: 0 20px 20px 0;
    box-shadow: 3px 4px 5px black;
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
 }
.pagina>p, .pagina>img{
    text-align: justify;
    margin: 20px;
}
  .pagina>a{
    display: block;
    background-color:#EB1200;
    margin:13px;
    text-align: center;
    border-radius: 5px;
    font-size: 20px;
    padding: 4px; 
    font-family: 'Dancing Script', cursive;
     color: white; 
    text-decoration: none;
}
.pagina>a:hover{
    background-color: yellow;
    color: black;
}
section>a{
    background-color: #EB1200;
    margin: 20px;
    border-radius: 10px;
    color: white;
    padding: 10px;
    text-decoration: none;
    position: absolute;
    top: 0;
}


/* titulo del libro - en la perte superior de la pag*/
.tit-libro{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 1100px;
    height: 35vh;
    border-radius: 10px;
    border: 2px solid blue;
    z-index: 3;
    font-family: 'Dancing Script', cursive;
    font-weight: bold; 
    background-color: rgba(226, 225, 224, 0.3);
    padding: 0 2em;

}

/* tamaño del libro en la grilla - al final borrar el border*/
.tam-libro{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 900px;
    height: 300px;
    /* border: 2px solid black; */
    /* border-radius: 10px; */
}

/* ESTILOS DE LA PORTADA DEL LIBRO */
.cuadrado-port{
    width: 50%;
    height: 500px;
    background-image: linear-gradient(#1dc434f6 ,#aeca5f);
    background-color: rgb(252, 219, 176);
    border: 1px solid rgb(148, 33, 5);
    border-radius: 20px ;
}

/* ESTILOS DE inclinacion DEL LIBRO */
.cuadrado-cont{
    position: absolute;
    width: 900px;
    height: 600px;
    background-color: rgba(222, 184, 135);
    border: 3px solid rgba(138, 78, 0, 0.5);
    border-radius: 20px;
    box-shadow: 10px 30px rgba(0, 0, 0, 0.295);
}
.cuadrado-cont1{
    transform: rotateX(60deg) translateZ(0px);

}
.cuadrado-cont2{
    transform: rotateX(60deg) translateZ(-20px);
}
.cuadrado-cont3{
    transform: rotateX(60deg) translateZ(-40px);
    border: 15px solid rgb(148, 33, 5);
}
.inclinacion{
    transition: all 5s;
}

/* estilo del cuadrado q cambia de pagina */
.cuadrado{
    width: 50%;
    height: 600px;
    background-image: linear-gradient(#1dc434f6 ,#aeca5f);
    border: 1px solid blue;
    transform: rotatex(60deg);
    border-radius: 20px;
}

/* estilo cambiar pagina */
@keyframes cuadrado1{
    from{
        transform: rotatex(60deg);
    }
    to{
        transform: rotatex(60deg) rotateY(-180deg);
    }
}
.cuadrado1{
    animation-name: cuadrado1;
    animation-duration: 5s;
    animation-timing-function: ease;
    transform-origin: left;
}  

/* estilo boton pag siguiente y anterior*/
.nav{
    position: absolute;
    top: 1em;
    width: 100vw;
    display: flex;
    justify-content: space-between;
}
.nav>a{
    width: 10em;
    height: 2em;
    margin: 0 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

/* estilo de imagenes */
/* todas la imagenes ubicadas con posicion absoluto, es mas facil */
.imagenes{
    position: absolute;
    width: 1200px;
    height: 80vh;
    border: 2px solid yellow;
}

/*ESTILOS ESCENA  1-2, 3-1 y 4-1 YENNY Y LUZ 1*/
#pag-1-2,#pag-1-1{
        background-color:#C3FFF7 ; 
}
#pag-2-1{
    background-color: #FFC96C ;
}
#pag-3-1, #pag-4-1{
    background-color:#252555;
}

 /*1-2*/

#cap-1-2{
    position: absolute;
    z-index: 2;
    width: 120px;
    height: 200px;
    bottom: 0;
    left: 0;
    background-size: cover;
}
@keyframes caminata{
    0%{
        transform: translateX(0);
        background-image: url("img/caminata1.png");
    }
    25%{
        transform: translateX(100px) translateY(-20px);
        background-image: url("img/caminata3.png");
    }
    50%{
        transform: translateX(200px);
        background-image: url("img/caminata1.png");
    }
    75%{
        transform: translateX(300px) translateY(-20px);
        background-image: url("img/caminata3.png");
    }
    100%{
        transform: translateX(400px);
        background-image: url("img/caperucita2.png");
    }
}
.cap-1-2{
    animation: caminata 7s linear 5s 1 normal forwards;
}


img[alt="arb1"]{
    width: 250px;
    height: 300px;
    position: absolute;
    top:80px;
    left:870px;
    opacity: 0;
    animation: opacidad 1s linear 5s 1 normal forwards;
}
img[alt="arb2"]{
     width: 250px;
    height: 300px;
    position: absolute;
    top:30px;
    left:800px;
    opacity: 0;
    animation: opacidad 1s linear 5s 1 normal forwards;
}
img[alt="camino"]{
    width: 400px;
    height:200px;
    position: absolute;
    top: 250px;
    left:600px; 
    opacity: 0;
    animation: opacidad 1s linear 5s 1 normal forwards;
}
img[alt="casa-cap"]{
     width: 350px;
    height: 350px;
    position: absolute;
    top:90px;
    left:150px;
    opacity: 0;
    animation: opacidad 1s linear 5s 1 normal forwards;
}
img[alt="cam1"]{
    height: 230px;
    position: absolute;
    top:350px;
    left:150px; 
    opacity: 0;
    animation: opacidad 1s linear 5s 1 normal forwards;
}
img[alt="flor"]{
    position: absolute;
    top: 420px;
    left: 850px;
    width: 300px;
    opacity: 0;
    animation: opacidad 1s linear 5s 1 normal forwards;
}
img[alt="cartel"]{
    position: absolute;
    height: 160px;
    top: 420px;
    left: 650px;
    opacity: 0;
    animation: opacidad 1s linear 5s 1 normal forwards;
}
img[alt="camino"]:hover,img[alt="flor"]:hover{
    transform: scale(1.2);
    transition: 1.5s;
}
/*CAMINO 2-1 YENNY Y LUZ*/
#casa-2-1{
    position: absolute;
    left: 350px;
    bottom: 150px;
    width: 700px;
    height: 350px;
    opacity: 0;
    animation: opacidad 1s linear 5s 1 normal forwards;
}
#puerta-2-1{
    position: absolute;
    right: 593px;
    bottom: 202px;
    width: 50px;
    height: 95px;
    opacity: 0;
    transform: rotateY(-30deg);
    transform-origin: left;
    animation: opacidad 1s linear 5s 1 normal forwards;
    z-index: 2;
}
#puerta-2-1:hover{
    transform: rotateY(-50deg);
    transform-origin: left;
}

#camino-2-1{
    position: absolute;
    left: 50px;
    top: 330px;
    bottom: 0;
    width: 600px;
    height: 200px;
    opacity: 0;
    animation: opacidad 1s linear 5s 1 normal forwards;
    z-index: 1;
}
/* CAMINO 3-1*/
.uno{
    opacity: 0;
    animation: opacidad 1s linear 10s 1 normal forwards;
    
}
.dos{
    opacity: 0;
    animation: opacidad 1s linear 12s 1 normal forwards;
    
}
.tres{
    opacity: 0;
    animation: opacidad 1s linear 14s 1 normal forwards;
    
}
.cuatro{
    opacity: 0;
    animation: opacidad 1s linear 16s 1 normal forwards;
    
}
.cinco{
    opacity: 0;
    animation: opacidad 1s linear 18s 1 normal forwards;
    
}
.seis{
    opacity: 0;
    animation: opacidad 1s linear 20s 1 normal forwards;
    
}

img[alt="orejaslobo"]{
    position: absolute;
    z-index: 2; 
    width: 69px;
    height: 42px;
    top: 270px;
    left:685px;
    opacity: 0;
    transform: scale(1.4);
    transition: 3s;
    transition-duration: 2s;
    animation: opacidad 1s linear 14s 1 normal ;
}
img[alt="ojoslobo"]{
    position: absolute;
    z-index: 2;  
    width: 50px;
    height: 40px;
    top: 292px;
    left:706px;
    opacity: 0;
    animation: opacidad 1s linear 8s 1 normal forwards;  
    transition: 1.5s;
}

.ojos-grandes{
    position: absolute;
    z-index: 2;  
    width: 50px;
    height: 40px;
    top: 292px;
    left:706px;
    opacity: 0;
    transform: scale(1.5);
    transition: 1s;
    transition-duration: 2s;
    animation: opacidad 1s linear 18s 1 normal ;  
}
#cap-3-1{
    position: absolute;
    z-index: 2;
    width: 100px;
    height: 160px;
    top: 320px;
    left: 400px;
    background-size: cover;
}
img[alt="placar"]{
    height: 150px;
    width: 100px;
    position: absolute;
    top: 270px;
    left: 430px;
    opacity: 0;
    animation: opacidad 1s linear 5s 1 normal forwards;  

}
a[ href="#pag-4-1"]{
    position: absolute;
    top: 440px;
    left: 400px;
    width: 100px;
    background-color: rgba(0,0,0,0.4);
    color: white;
    font-size: 20px;
    opacity: 0;
    animation: opacidad 1s linear 20s 1 normal forwards; 
    border-radius: 20px; 

}
a[ href="#pag-4-1"]:hover{
    background-color: rgba(0,0,0,0.7);
    border: 1px solid white;

}
/*CAPERUCITA CAMINA TIPICA ESCENA*/
@keyframes caminaCaperucita{
    0%{
        transform: translateX(0);
        background-image: url("img/caminata1.png");
    }
    25%{
        transform: translateX(50px);
        background-image: url("img/caminata3.png");   
    }
    50%{
        transform: translate(100px);
        background-image: url("img/caminata1.png");
    }
    75%{
        transform: translateX(150px);
        background-image: url("img/caminata3.png");   
    }
    100%{
        transform: translate(150px);
        background-image: url("img/caperucita-sorprendida.png");
    }
}
.cap-3-1{animation: caminaCaperucita 6s linear 5s 1 normal forwards;}
#loboAbu{
    position: absolute;
    z-index: 2; 
    width: 250px;
    height: 220px;
    top: 270px;
    left:650px;
    background-size: cover;
    background-image: url("img/loboDormido.png");
    opacity: 0;
    animation: opacidad 1s linear 5s 1 normal forwards;

}

/*ESTILOS 4-1 YENNY Y LUZ*/
#pag-4-1{background-color:#252555;}
img[alt="arbusto2"]{
    position: absolute;
    top: 490px;
    left: 0px;
    width: 1170px;
    height: 100px;
    z-index: 2;
    opacity: 0;
    animation: opacidad 1s linear 5s 1 normal forwards;
}

img[alt="nube1"]{
    position: absolute;
    top: 0px;
    left:-0px;
    width: 300px;  
}

img[alt="luna"]{
    position: absolute;
    top: 20px;
    left:100px;
    width: 100px;
    height: 100px;

}

img[alt="cabaña1"]{
    position: absolute;
    width: 900px;
    height:450px;
    top: 100px;
    left: 140px;
    opacity: 0;
    animation: opacidad 1s linear 5s 1 normal forwards;
}
img[alt="cap-asus"]{
    position: absolute; 
    width: 100px;
    height: 160px;
    top: 330px;
    left:400px;
    opacity: 0;
    animation: opacidad 1s linear 5s 1 normal forwards;
}
#cama{
    position: absolute;
    z-index: 2;
    top: 250px;
    left:590px;
    width: 280px;
    height: 240px;
    background-size: cover;
}
@keyframes cama{
    0%{
        background-image: url("img/lobo_abuela.png");
    }
    25%{
        background-image: url("img/lobo_abuela.png");   
    }
    50%{
        background-image: url("img/camaabuela.png");
    }
}
.cama-abuela{animation: cama 10s linear 5s 1 normal forwards;}
img[alt="cama2"]{
    position: absolute;
    z-index: 2;
    top:250px;
    left:598px;
    width: 305px;
    height: 265px;
    opacity: 0;
    animation: opacidad 1s linear 10s 1 normal forwards;

}

.lobo-ataca{
    position: absolute;
    top: 330px;
    left:0px;
    width: 250px;
    height: 170px;
    background-size: cover;
    opacity: 0;
    animation: opacidad 1s linear 5s 1 normal forwards;
}

.caperucita-asustada{
    position: absolute;
    top: 330px;
    left:380px;
    width: 250px;
    height: 170px;
    background-size: cover;
    opacity: 0;
    animation: opacidad 1s linear 5s 1 normal forwards;
}
/* cada animacion de pagina separenlo con un titulo */


/* ESTILOS ESCENAS MAGA Y JHOELDA */
/* cada animacion de pagina separenlo con un titulo */
/* pag-2-2 se encuentra con el lobo y eleccion camino corto o camino largo */
/* #animacion-2-2{
    perspective: 500px;
} */
#cam-amarillo2{
    position: absolute;
    z-index: 1;
    width: 90vw;
    height: 400px;
    left: -50px;
    bottom: -60px;
    opacity: 0;
    animation: opacidad 1s linear 5s 1 normal forwards;
}
#arbusto2-2-2{
    position: absolute;
    z-index: 1;
    width: 700px;
    height: 100px;
    left: 130px;
    top: 45vh;
    opacity: 0;
    animation: opacidad 1s linear 5s 1 normal forwards;
}
#arbolB-2-2{
    position: absolute;
    z-index: 2;
    width: 450px;
    bottom: 120px;
    left: 50%;
    opacity: 0;
    animation: opacidad 1s linear 5s 1 normal forwards;
}
#arbol2-2-2{
    position: absolute;
    z-index: 0;
    width: 300px;
    top: 50px;
    left: 20%;
    opacity: 0;
    animation: opacidad 1s linear 5s 1 normal forwards;
}
@keyframes opacidad{
    from{opacity: 0;}
    to{opacity: 1;}
}
#cap-2-2{
    position: absolute;
    z-index: 2;
    width: 120px;
    height: 200px;
    bottom: 0;
    left: 0;
    background-size: cover;
}
#lobo-2-2{
    position: absolute;
    z-index: 3;
    width: 200px;
    height: 280px;
    bottom: 0;
    right: 0;
    background-size: contain;
}
@keyframes caminataCaperucita{
    0%{
        transform: translateX(0);
        background-image: url("img/caminata1.png");
    }
    25%{
        transform: translateX(100px) translateY(-20px);
        background-image: url("img/caminata3.png");
    }
    50%{
        transform: translateX(200px);
        background-image: url("img/caminata1.png");
    }
    75%{
        transform: translateX(300px) translateY(-20px);
        background-image: url("img/caminata3.png");
    }
    100%{
        transform: translateX(400px);
        background-image: url("img/caperucita-sorprendida.png");
    }
}
.cap-2-2{
    animation: caminataCaperucita 6s linear 5s 1 normal forwards;
}

@keyframes loboAparece1{
    0%{
        transform: translate(-150px,-100px) scale(.6);
        background-image: url("img/lobo3.png");
    }
    25%{
        transform: translate(-80px,-50px) scale(.8);
        background-image: url("img/lobo3.png");
    }
    50%{
        transform: translateX(-150px);
        background-image: url("img/lobo2.png");
    }
    75%{
        transform: translateX(-300px);
        background-image: url("img/lobo1.png");
    }
    100%{
        transform: translateX(-400px);
        background-image: url("img/lobo2.png");
    }
}
/* @keyframes loboHabla{
    from{
        background-image: url("img/lobo1.png");
    }
    to{
        background-image: url("img/lobo2.png");
    }
} */
.lobo-2-2{
    animation: loboAparece1 5s linear 5s 1 normal forwards;
}
/* .lobo-2-2:hover{
    animation: loboHabla 1s linear 1s infinite normal backwards;
} */
/* cartel de opciones pagina2-2 */
#cartel{
    background-image: url("img/cartel2.png");
    background-repeat: no-repeat;
    position: absolute;
    z-index: 1;
    width: 180px;
    height: 200px;
    bottom: 70px;
    right: 30px;
    background-size: cover;
    opacity: 0;
    animation: opacidad 1s linear 5s 1 normal forwards;
}
#cartel:hover{
    transform: scale(1.2);
    transition: 1.5s;
}
.lightbox{
    display: none;
}
.lightbox:target{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 4;
}
.lightbox .cartelbox{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.363);
    background-image: url("img/cartel2.png");
    background-size: cover;
    width: 600px;
    height: 600px;
    z-index: 4;
}
.lightbox .cartelbox a{
    font-size: 2em;
    font-family: 'Dancing Script', cursive;
    width: 8em;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
}
#camLargo{
    margin-top: 120px;
    transform: rotate(9deg);
}
#camCorto{
    margin-top: 60px;
    transform: rotate(-10deg) translateX(30px);
}
.lightbox .close::after{
    position: absolute;
    right: calc(((100% - 600px) / 2) - 1em);
    top: calc(((100% - 600px) / 2) - 1em);
    width: 2em;
    height: 2em;
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EB1200;
    color: white;
    content: "x";
    cursor: pointer;
    border-radius: 50%;
    border: .3em solid white;
}
.lightbox .close::before{
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, .6);
    content: "";
    cursor: default;
}

/* pag-3-2 caperucita entra a la casa */
.imagenes{
    perspective: 500px;
}
#casa-3-2{
    position: absolute;
    right: 0;
    bottom: 150px;
    width: 900px;
    opacity: 0;
    animation: opacidad 1s linear 5s 1 normal forwards;
}
#puerta-3-2{
    position: absolute;
    right: 570px;
    bottom: 202px;
    width: 62px;
    opacity: 0;
    transform: rotateY(-30deg);
    transform-origin: left;
    animation: opacidad 1s linear 5s 1 normal forwards;
    z-index: 2;
}
#puerta-3-2:hover{
    transform: rotateY(-50deg);
    transform-origin: left;
}
#camino-3-2{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 700px;
    height: 200px;
    opacity: 0;
    animation: opacidad 1s linear 5s 1 normal forwards;
    z-index: 1;
}
#cap-3-2{
    position: absolute;
    width: 120px;
    height: 200px;
    bottom: 70px;
    left: 0;
    background-size: contain;
    z-index: 2;
}
@keyframes caminataCasa{
    0%{
        transform: translate(50px,-30px) scale(.7);
        background-image: url("img/caminata1.png");
    }
    20%{
        transform: translate(160px,-40px) scale(.6);
        background-image: url("img/caminata3.png");
    }
    40%{
        transform: translate(270px,-30px) scale(.5);
        background-image: url("img/caminata1.png");
    }
    60%{
        transform: translate(380px,-25px) scale(.4);
        background-image: url("img/caminata3.png");
    }
    80%{
        transform: translate(430px,-25px) scale(.3);
        background-image: url("img/caminata1.png");
    }
    100%{
        transform: translate(450px,-25px) scale(.3);
        background-image: url("img/caperucita2.png");
    }
}
.cap-3-2{
    animation: caminataCasa 8s linear 5s 1 normal forwards;
}

/* pag-5-2 leñador aparece y entra a la casa */
/* casa y camino la misma que la pag-3-2 */
#leñador-5-2{
    /* background-image: url("img/leñador1.png"); */
    position: absolute;
    width: 160px;
    height: 200px;
    bottom: 70px;
    left: 0;
    background-size: cover;
    z-index: 2;
}
#grito1-5-2{
    /* background-image: url("img/grito1.png"); */
    position: absolute;
    width: 100px;
    height: 60px;
    bottom: 260px;
    right: 600px;
    background-size: contain;
    z-index: 1;
}
@keyframes caminataCasaLeñador{
    0%{
        transform: translate(50px,-30px) scale(.9);
        background-image: url("img/leñador1.png");
    }
    20%{
        transform: translate(160px,-40px) scale(.8);
        background-image: url("img/leñador1.png");
    }
    40%{
        transform: translate(270px,-30px) scale(.8);
        background-image: url("img/leñador4.png");
    }
    60%{
        transform: translate(380px,-25px) scale(.7);
        background-image: url("img/leñador7.png");
    }
    80%{
        transform: translate(430px,-25px) scale(.6);
        background-image: url("img/leñador7.png");
    }
    100%{
        transform: translate(450px,-25px) scale(.6);
        background-image: url("img/leñador7.png");
    }
}
.leñador-5-2{
    animation: caminataCasaLeñador 6s linear 5s 1 normal forwards;
}
@keyframes grito{
    0%{
        transform: scaleX(1.5);
        background-image: url("img/grito1.png");
    }
    25%{
        transform: scaleX(2.25) rotate(30deg);
        background-image: url("img/grito1.png");
    }
    50%{
        transform: scaleX(3);
        background-image: url("img/grito1.png");
    }
    75%{
        transform: scaleX(2.25) rotate(-15deg);
        background-image: url("img/grito1.png");
    }
    100%{
        transform: scaleX(1.5);
        background-image: url("img/grito1.png");
        opacity: 0;
    }
}
.grito1-5-2{
    animation: grito 2s linear 7s 3 normal forwards;
    transform-origin: right;
}
/* pag-5-1 leñador salva a caperucita y abuela */
#leñador-5-1, #cap-5-1, #abuela-5-1{
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 2;
}
#leñador-5-1{
    /* background-image: url("img/leñador1.png"); */
    position: absolute;
    width: 300px;
    height: 200px;
    bottom: 70px;
    left: 300px;
    transform-origin: bottom;
}
#cap-5-1{
    /* background-image: url("img/caperucita.png"); */
    position: absolute;
    z-index: 2;
    width: 150px;
    height: 150px;
    bottom: 70px;
    left: 300px;
}
#abuela-5-1{
    /* background-image: url("img/abuela1.png"); */
    position: absolute;
    z-index: 2;
    width: 300px;
    height: 200px;
    bottom: 70px;
    left: 400px;
}
#loboCama{
    position: absolute;
    z-index: 2; 
    width: 250px;
    height: 220px;
    top: 270px;
    left:650px;
    background-size: cover;
    background-image: url("img/loboDormido.png");
    opacity: 0;
    animation: opacidad 1s linear 5s 1 normal forwards;
}
@keyframes leñadorCasa{
    0%{
        background-image: url("img/leñador7.png");
    }
    10%{
        transform: translate(100px, -40px);
        background-image: url("img/leñador3.png");
    }
    20%{
        transform: translate(200px, -40px) scaleY(1.1);
        background-image: url("img/leñador5.png");
    }
    30%{
        transform: translate(300px, -40px);
        background-image: url("img/leñador10.png");
    }
    40%{
        transform: translate(250px, -40px);
        background-image: url("img/leñador11.png");
    }
    50%{
        transform: translate(300px, -40px);
        background-image: url("img/leñador10.png");
    }
    60%{
        transform: translate(250px, -40px);
        background-image: url("img/leñador11.png");
    }
    70%{
        transform: translate(300px, -40px);
        background-image: url("img/leñador12.png");
    }
    80%{
        transform: translate(300px, -40px) ;
        background-image: url("img/leñador3.png");
    }
    90%{
        transform: translate(180px, -30px) ;
        background-image: url("img/leñador3.png");
    }
    100%{
        transform: translate(180px, -30px) ;
        background-image: url("img/leñador4.png");
    }
}
.leñador-5-1{
    animation: leñadorCasa 25s linear 5s 1 normal forwards;
}
@keyframes abuelaSale{
    0%{
        background-image: url("img/abuela1.png");
    }
    30%{
        background-image: url("img/abuela2.png")
    }
    70%{
        background-image: url("img/abuela5.png")
    }
    100%{
        background-image: url("img/abuela4.png");
    }
}
.abuela-5-1{
    animation: abuelaSale 15s linear 14s 1 normal forwards;
}
@keyframes capSale{
    0%{
        background-image: url("img/caperucita-sorprendida.png");
    }
    100%{
        background-image: url("img/caperucita.png");
    }
}
.cap-5-1{
    animation: capSale 5s linear 19s 1 normal forwards;
}


/* ----------------------------------------------------------- */

/* ESTILOS CATA Y BEL */
/* Pag 1-3 */
#lobo-1-3{
    position: absolute;
    z-index: 3;
    width: 200px;
    height: 280px;
    bottom: 0;
    right: 0;
    background-size: contain;
}

@keyframes loboAparece{
    0%{
        transform: translate(-150px,-100px) scale(.6);
        background-image: url("img/lobomejorado2.png");
    }
    25%{
        transform: translate(-80px,-50px) scale(.8);
        background-image: url("img/lobomejorado2.png");
    }
    50%{
        transform: translateX(-150px);
        background-image: url("img/lobomejorado.png");
    }
    75%{
        transform: translateX(-300px);
        background-image: url("img/lobomejorado.png");
    }
    100%{
        transform: translateX(-400px);
        background-image: url("img/lobomejorado.png");
    }
}
.lobo-1-3{
    animation: loboAparece 5s linear 5s 1 normal forwards;
}


#arbolc-1-2{
    position: absolute;
    height: 600px;
    left: -100px;
    z-index: 1;
    opacity: 0;
    animation: opacidad 1s linear 5s 1 normal forwards;

}

#arbusto2copia{
    position: absolute;
    top: 500px;
    left: 150px;
    opacity: 0;
    z-index: 0;
    animation: opacidad 1s linear 5s 1 normal forwards;
}

#arbusto3copia{
    position: absolute;
    top: 460px;
    left: 600px;
    opacity: 0;
    z-index: -1;
    animation: opacidad 1s linear 5s 1 normal forwards;
    transform: rotateX(10deg);
    transform: rotateY(11deg);
}

#arbusto1-2-2{
    position: absolute;
    z-index: 1;
    width: 700px;
    height: 100px;
    left: 130px;
    top: 45vh;
    opacity: 0;
    animation: opacidad 1s linear 5s 1 normal forwards;
}

#arbustofloreado{
    position: absolute;
    right: 80px;
    top: 240px;
    height: 100px;
    width: 350px;
    opacity: 0;
    animation: opacidad 1s linear 5s 1 normal forwards;
    transform: rotateY(35deg);
}

#pastito1{
    position: absolute;
    width: 110px;
    height: 120px;
    right: 250px;
    top: 350px;
    opacity: 0;
    animation: opacidad 1s linear 5s 1 normal forwards;

}

#pastito2{
    position: absolute;
    width: 110px;
    height: 110px;
    left: 200px;
    top: 350px;
    opacity: 0;
    animation: opacidad 1s linear 5s 1 normal forwards;
}

#pastito4{
    position: absolute;
    width: 80px;
    height: 90px;
    right: 80px;
    top: 500px;
    opacity: 0;
    animation: opacidad 1s linear 5s 1 normal forwards;
}

#pastito3{
    position: absolute;
    width: 80px;
    height: 100px;
    right: 25px;
    top: 520px;
    opacity: 0;
    animation: opacidad 1s linear 5s 1 normal forwards;
}

#pastito5{
    position: absolute;
    width: 80px;
    height: 100px;
    right: 200px;
    top: 300px;
    opacity: 0;
    animation: opacidad 1s linear 5s 1 normal forwards;

}

#arbustofloreado2{
    position: absolute;
    transform: rotate(20deg);
    top: 140px;
    left: 400px;
    opacity: 0;
    animation: opacidad 1s linear 5s 1 normal forwards;

}

#arbustofloreado3{
    position: absolute;
    transform: rotate(25deg);
    top:375px;
    right: 180px;
    opacity: 0;
    animation: opacidad 1s linear 5s 1 normal forwards;
}

<<<<<<< HEAD
/* <<<<<<< HEAD */
=======
>>>>>>> 9d36e22332e0d9c21b6281d647757cf18f845fdf
#cama4-3{
    position: absolute; 
    width: 250px;
    height: 220px;
    top: 270px;
    left:650px;
    opacity: 0;
    animation: opacidad 1s linear 5s 1 normal forwards;
}
<<<<<<< HEAD
/* ======= */
=======
>>>>>>> 9d36e22332e0d9c21b6281d647757cf18f845fdf
/*Pag 2-3*/
@keyframes caminata{

    /* Primera viñeta del sprite sheet */
0% { background-position:0 }
/* El tamaño total de ancho del sprite. Es negativo para que no "camine" hacia atrás */
100% { background-position:-1050px }

}
#loboenojado{
    opacity: 0;
    animation: opacidad 1s linear 5s 1 normal forwards;
    position: absolute;
    z-index: 3;
    bottom:350px;
}

#loboenojado2{
    position: absolute;
    left: 570px;
    height: 295px;
    width: 210px;
<<<<<<< HEAD
    background: url("img/loboenojado.png");
    animation: caminata .8s steps(5) infinite;
=======
    background: url(img/loboenojado.png);
    animation: caminata .9s steps(5) infinite;
>>>>>>> 9d36e22332e0d9c21b6281d647757cf18f845fdf
}

#floresvolando{
    left: 250px;
    bottom: 30px;
    position: absolute;
    
}
#floresvolando1{
    left: 250px;
    bottom: 20px;
    position: absolute;
    
}
/*pag 3-3 */

@keyframes walk {
0% { background-position:0 }
100% { background-position:-1000px } 
}
@keyframes walkstyle{
    0%{
        transform: translate(50px,-30px) scale(.9);
    }
    20%{
        transform: translate(100px,-40px) scale(.7);
    }
    40%{
        transform: translate(160px,-50px) scale(.5);
    }
    60%{
        transform: translate(90px,-60px) scale(.4);
    }
    80%{
        transform: translate(250px,-80px) scale(.3);
    }
    100%{
        transform: translate(300px,-100px) scale(.3);
    
    }
}

@keyframes rotacion{
    from {transform: rotateZ(0deg);}
    to {transform: rotateZ(360deg);}
}

#sol{
    position: absolute;
    width: 100px;
    left: 300px;
    top: 60px; 
    animation: rotacion .5s steps(8) infinite;
    animation-name: opacidad 1s linear 5s 1 normal forwards;
}
#casa-3-3{
    position: absolute;
    right: 140px;
    width: 700px;
    height:300px;
    top:100px;
    z-index:5;
    animation-name: opacidad 1s linear 5s 1 normal forwards;

}
#arbustofondo{
    position: absolute;
    width: 750px;
    top: 240px;
    z-index: 3;
    left: 220px;
    height: 70px;
    animation-name: opacidad 1s linear 5s 1 normal forwards;
}
#arbolito{
    height: 250px;
    z-index: 4;
    top: 110px;
    position: absolute;
    left:110px;
}

#caminito{
    position: absolute;
    left: 330px;
    width: 290px;
    top: 345px;
    z-index: 6;
    animation-name: opacidad 1s linear 5s 1 normal forwards;
}

#caminata{
position: absolute;
left: 180px;
bottom: 10px;
height: 220px;
width: 200px;
background: url("img/caminata.png");
animation: walk .8s steps(5) infinite, walkstyle 8s linear 5s 1 normal forwards;
z-index:8;
}

#pastitos{
    position: absolute;
    width: 1200px;
    height: 40px;
    bottom: -55px;
    z-index:7;
    animation-name: opacidad 1s linear 5s 1 normal forwards;
}
#margaritas {
    position: absolute;
    top: 235px;
    left: 200px;
    height: 380px;
    z-index:2;
    animation-name: opacidad 1s linear 5s 1 normal forwards;
}
#margaritas2{
    position: absolute;
    top: 235px;
    height: 380px;
    right: 200px;
    z-index:1;
    animation-name: opacidad 1s linear 5s 1 normal forwards;
}
<<<<<<< HEAD
=======
    



/* pag-5-1 leñador salva a caperucita y abuela */
#leñador-5-1, #cap-5-1, #abuela-5-1{
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 2;
}
#leñador-5-1{
    /* background-image: url("img/leñador1.png"); */
    position: absolute;
    width: 300px;
    height: 200px;
    bottom: 70px;
    left: 300px;
    transform-origin: bottom;
}
#cap-5-1{
    /* background-image: url("img/caperucita.png"); */
    position: absolute;
    z-index: 2;
    width: 150px;
    height: 150px;
    bottom: 70px;
    left: 300px;
}
#abuela-5-1{
    /* background-image: url("img/abuela1.png"); */
    position: absolute;
    z-index: 2;
    width: 300px;
    height: 200px;
    bottom: 70px;
    left: 400px;
}
@keyframes leñadorCasa{
    0%{
        background-image: url("img/leñador7.png");
    }
    10%{
        transform: translate(100px, -40px);
        background-image: url("img/leñador3.png");
    }
    20%{
        transform: translate(200px, -40px) scaleY(1.1);
        background-image: url("img/leñador5.png");
    }
    30%{
        transform: translate(300px, -40px);
        background-image: url("img/leñador10.png");
    }
    40%{
        transform: translate(250px, -40px);
        background-image: url("img/leñador11.png");
    }
    50%{
        transform: translate(300px, -40px);
        background-image: url("img/leñador10.png");
    }
    60%{
        transform: translate(250px, -40px);
        background-image: url("img/leñador11.png");
    }
    70%{
        transform: translate(300px, -40px);
        background-image: url("img/leñador12.png");
    }
    80%{
        transform: translate(300px, -40px) ;
        background-image: url("img/leñador3.png");
    }
    90%{
        transform: translate(180px, -30px) ;
        background-image: url("img/leñador3.png");
    }
    100%{
        transform: translate(180px, -30px) ;
        background-image: url("img/leñador4.png");
    }
}
.leñador-5-1{
    animation: leñadorCasa 25s linear 5s 1 normal forwards;
}
@keyframes abuelaSale{
    0%{
        background-image: url("img/abuela1.png");
    }
    30%{
        background-image: url("img/abuela2.png")
    }
    70%{
        background-image: url("img/abuela5.png")
    }
    100%{
        background-image: url("img/abuela4.png");
    }
}
.abuela-5-1{
    animation: abuelaSale 15s linear 14s 1 normal forwards;
}
@keyframes capSale{
    0%{
        background-image: url("img/caperucita-sorprendida.png");
    }
    100%{
        background-image: url("img/caperucita.png");
    }
}
.cap-5-1{
    animation: capSale 5s linear 19s 1 normal forwards;
}
>>>>>>> 9d36e22332e0d9c21b6281d647757cf18f845fdf

/* >>>>>>> 8924f51a5b7875250aaa51b2159025807e86f114 */

#pastito6{
    position: absolute;
    width: 80px;
    height: 100px;
    right: 200px;
    top: 400px;
    opacity: 0;
    animation: opacidad 1s linear 5s 1 normal forwards;
}




/* cada pagina tiene nombre pag-1-1 */


